/*-
 * COMPONENTS / BUTTONS
-*/

//
//
// BASIC BUTTONS
.button {
  $_: &;
  display: inline-block;
  color: white;
  font: bold 1rem/1.2 $default-family;
  text-align: center;
  text-transform: uppercase;
  padding: em(15) em(30);
  white-space: nowrap;
  vertical-align: middle;
  background: $main;
  border-radius: em(5);
  transition: all 0.4s ease;

  // HOVER
  @include hover {
    box-shadow: 0 em(5) em(15) rgba(black, 0.1);
  }
}
