/*-
 * COMPONENTS / ÉLÉMENTS DE FORMULAIRE
 * Optimisé pour l'utilisation en conjonction avec Gravity Forms
-*/

// Labels
label {
  display: none;
  font: bold em(15)/1 $default-family;
  margin-top: em(-3, 15);
  transition: all 0.3s ease;

  .is-error & {
    color: $error;
  }
}

// Champs de texte, textarea et dropdown
input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  height: em(50);
  color: $black;
  font: 1rem/1.4 $default-family;
  padding: em(13) em(18);
  margin: 0;
  background: white;
  border: 2px solid white;
  border-radius: em(5);
  transition: all 0.3s ease;

  @include placeholder {
    color: $grey-d;
  }

  &:hover,
  &:focus {
    box-shadow: 0 em(5) em(15) rgba(black, 0.1);
  }

  & + label {
    display: block;
    position: absolute;
    top: 0;
    left: $fieldSpacing;
    pointer-events: none;
    opacity: 0;
    transform: translateY(0.5em);
    transition: all 0.15s ease;
  }
  &:not(:placeholder-shown) + label {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }

  .is-invalid & {
    border-color: $error;

    @include placeholder {
      color: $error;
    }
  }
}

textarea {
  height: em(150);
  resize: vertical;
}
