/*-
 * COMPONENTS / TITRES
-*/

.title-main {
  font-size: em(34);
  font-weight: bold;
  line-height: 1.15;

  @include media(max, $phone-large) {
    font-size: em(27, $fs-s);
  }
}

.title-sub {
  font-size: em(25);
  line-height: 1.3;

  @include media(max, $phone-large) {
    font-size: em(20, $fs-s);
  }
}
