/*-
 * LAYOUTS / HEADER
-*/

.header {
	display: flex;
  align-items: center;
  justify-content: space-between;
  height: $layout;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &__logo {
    img {
      width: em(100);
    }
  }
}
