/*-
 * LAYOUTS / WRAPPERS
 * Conteneur pour l'alignement et l'espacement globale du site
-*/

.wrapper {
  padding-left: $spacing;
  padding-right: $spacing;

  @include media(max, $phone-large) {
    padding-left: $spacingMobile;
    padding-right: $spacingMobile;
  }
}
