/*-
 * PARTS / FORMS
-*/

.form {
  max-width: rem(900);
  padding-top: $layout;
  padding-bottom: $layout;
  position: relative;

  @include media(max, $phone-large) {
    padding-top: $spacingMobile;
    padding-bottom: $spacingMobile;
  }

  &__fields {
    display: flex;
    flex-wrap: wrap;
    margin: $fieldSpacing #{-$fieldSpacing};
    transition: all 0.5s $easeOutQuad 0.05s;

    .is-success & {
      opacity: 0;
      transform: translateY(rem(20));
      pointer-events: none;
    }
  }

  &__field {
    width: 100%;
    padding: $fieldSpacing;
    position: relative;

    @include media(min, $phone-large) {
      &--half {
        width: 50%;
      }
    }
  }

  &__footer {
    transition: all 0.5s $easeOutQuad;

    @include media(min, $phone-large) {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }

    .is-success & {
      opacity: 0;
      transform: translateY(rem(20));
      pointer-events: none;
    }

    &__status {
      text-align: right;
      color: $error;
      font-weight: bold;
      line-height: 1.3;
      padding: 0 1em;
      opacity: 0;

      @include media(max, $phone-large) {
        text-align: left;
        padding: 0 0 1em;
      }

      .has-error & {
        opacity: 1;
      }
    }
  }

  &__submit {
    position: relative;
    overflow: hidden;

    .is-sending & {
      pointer-events: none;
    }

    &__loader {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: $grey-l url("/assets/images/loader.svg") no-repeat center center / em(25);
      opacity: 0;
      transition: opacity 0.15s ease;

      .is-sending & {
        opacity: 1;
      }
    }
  }

  &__success {
    color: $success;
    font-weight: bold;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 0;
    right: 0;
    pointer-events: none;
    user-select: none;
    opacity: 0;
    transform: translateY(rem(-20));
    transition: all 0.5s $easeOutQuad 0.6s;

    .is-success & {
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
      user-select: auto;
    }

    svg {
      width: em(40);
      height: em(30);
      stroke-dasharray: em(30);
      stroke-dashoffset: em(30);
      transition: all 0.75s cubic-bezier(0.7, 0, 0, 1) 1s;

      path {
        stroke: $success !important;
      }

      .is-success & {
        stroke-dashoffset: 0;
      }
    }

    &__message {
      font-weight: bold;
      line-height: 1.3;
      padding: 1em;
    }
  }
}