/*-
 * BASE / ABSTRACTS / FUNCTIONS
-*/

// Supression des unités.
// Utile pour les fonctions de conversion ci-dessous.
@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

// Convertisseur de PX en EM/REM.
//
// @param $pixels (int)(px) : L'unité en pixel à convertir.
// @param $context (int) : Le contexte dans lequel la division doit se faire. 16px par défaut.
//
// @example font-size: em(20);
// @example margin-top: em(14, 20);
// @example font-size: rem(20);
//
@function em($pixels, $context: 16) {
  @return #{strip-unit($pixels/$context)}em;
}

@function rem($pixels, $context: 16) {
  @return #{strip-unit($pixels/$context)}rem;
}
