/*-
 * BASE / ABSTRACTS / ICONS
-*/

// Style de base pour les icônes ajoutées directement en HTML
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
}

// Ajout d'une icône en :before et/ou :after selon un sprite svg
//
// @example
//   @include icon('arrow-right', after);
//
@mixin icon($icon, $position: before, $styles: true) {

  @if $position == both {
    $position: 'before, &:after';
  }

  &:#{$position} {
    background-image: url('../images/icons.svg##{$icon}');

    @if $styles {
      content: "";
      display: inline-block;
      width: 1em;
      height: 1em;
    }

    @content;
  }
}
