/*-
 * BASE / ABSTRACTS / MIXINS
-*/

// Hover qui s'applique seulement s'il n'y a pas de touch.
// - modernizr.js
//
// @example
//   @include hover {
//     ....
//   }
//
@mixin hover {
  .no-touchevents &:hover {
    @content;
  }
}

// Styles de placeholder.
//
// @example
//   @include placeholder {
//     ....
//   }
//
@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
}

// Générateur de media queries selon le type, la largeur d'écran ou la direction.
//
// @param $media (string) : Le type de média pour la query. Requis. Les valeurs acceptées sont : print, landscape, portrait, between, min, max
// @param $mediaWidth (int) : Largeur d'écran. Non-requis. Utilisé avec : between, min, max
// @param $mediaMaxWidth (int) : Largeur d'écran maximum, seulement utile pour la condition between. Non-requis.
//
// @example
//   @include media(portrait) {
//     ....
//   }
//
// @example
//   @include media(between, 375px, 720px) {
//     ....
//   }
//
@mixin media($media, $mediaWidth: NULL, $mediaMaxWidth: NULL) {

  // Print
  @if $media == print {

    @media only print {
      @content;
    }

  // Orientation
  } @else if $media == landscape or $media == portrait {

    @media only screen and (orientation: $media) {
      @content;
    }

  // Between widths
  } @else if $media == between {

    $mediaWidth: $mediaWidth + 1; // Add one pixel to min-width to prevent superposition of mediaqueries

    @media only screen and (min-width: $mediaWidth) and (max-width: $mediaMaxWidth) {
      @content;
    }

  // Min or Max width
  } @else {

    @if $media == min {
      $mediaWidth: $mediaWidth + 1; // Add one pixel to min-width to prevent superposition of mediaqueries
    }

    @media only screen and (#{$media}-width: $mediaWidth) {
      @content;
    }

  }
}
