/*-
 * BASE / ABSTRACTS / PLACEHOLDERS
-*/

%visuallyhidden,
.visuallyhidden {
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;

  &.focusable:active,
  &.focusable:focus {
    width: auto;
    height: auto;
    margin: 0;
    position: static;
    overflow: visible;
    clip: auto;
  }
}

.is-hidden {
  display: none;
}

%clear {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

%object-fit {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

%background-cover {
  background: transparent no-repeat center center / cover;
}

%fullscreen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
